<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Producto</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-item>
  <ion-input type="text" placeholder="Ingrese su Producto" [(ngModel)]="Nombre"></ion-input>
  <ion-input type="text" placeholder="Ingrese su IdCategoria" [(ngModel)]="IdCategoria"></ion-input>
  <ion-button (click)="addProducto()">Agregar Producto</ion-button>
</ion-item>
<br>
<ion-list>
  <ion-item *ngFor="let item of listaProducto">
    <b>Nombre</b>:{{item.Nombre}}; <b>IdCategoria</b>:{{item.IdCategoria}};
  </ion-item>
</ion-list>


</ion-content>