<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito Compra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito Compra</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-item>
  <ion-input id="fecha" type="date" placeholder="Ingrese su fecha" [(ngModel)]="fecha"></ion-input>
  <ion-input id="idUsuario"type="text" placeholder="Ingrese su IdUsuario" [(ngModel)]="idUsuario"></ion-input>
  <ion-button id="addCarritoCompra" (click)="addCarritoCompra()">Agregar Carrito</ion-button>
</ion-item>
<br>
<ion-list>
  <ion-item *ngFor="let item of listaCarritoCompra">
    <b>Fecha</b>:{{item.fecha}}; <b>Id Usuario</b>:{{item.idUsuario}};
  </ion-item>
</ion-list>


</ion-content>