<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito Compra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito Compra</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input id="fecha" type="date" placeholder="Ingrese su Carrito" [(ngModel)]="fecha"></ion-input>
    <ion-input id="idUsuarios" type="text" placeholder="Ingrese su idUsuarios" [(ngModel)]="idUsuarios"></ion-input>
    <ion-button id="addCarritoCompra" (click)="addCarritoCompra()">Agregar Carrito</ion-button>
  </ion-item>
  <br>
  <ion-list>
    <ion-item *ngFor="let item of listaCarritoCompra">
      <b>fecha</b>:{{item.fecha}}; <b>idUsuarios</b>:{{item.idUsuarios}}
    </ion-item>
  </ion-list>

</ion-content>